                  body {
                  background-color:yellow;
                  }

                  h1 {
                  text-align:center;
                  font-family: Gandom;
                  font-style: bold;
                  color: red;
                  }
 
                  h2 {
                  text-align:center;
                  font-family: Gandom;
                  color:green;
                  }
 
                  p{
                  font-family: BMitra;  
                  }